<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{categories}">
    <div class="dropdown">
        <a aria-expanded="false" aria-haspopup="true"
            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            href="#" role="button"
            title="{f:if(condition: '{selectedCategory}', then: '{f:translate(key: \'filter_category_title_active\')}', else: '{f:translate(key: \'filter_category_title_inactive\')}')}">
            <f:if condition="{selectedCategory}">
                <f:then>{selectedCategory.title}</f:then>
                <f:else><f:translate key="category"/></f:else>
            </f:if>
        </a>
        <div class="dropdown-menu">
            <cal:link.filterCategory class="dropdown-item{f:if(condition: '!{selectedCategory}', then: ' active')}">
                <f:translate key="filter_category_all"/>
            </cal:link.filterCategory>
            <f:for each="{categories}" as="category">
                <cal:link.filterCategory
                    category="{category}"
                    class="dropdown-item{f:if(condition: category.color, then: ' has-background')}{f:if(condition: '{selectedCategory.uid}=={category.uid}', then: ' active')}"
                    style="{f:if(condition: category.color, then: 'background-color: {category.color}')}">
                    <span>{category.title}</span>
                </cal:link.filterCategory>
            </f:for>
        </div>
    </div>
</f:if>
</html>
