<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<cal:useMicroformat format="hcalendar"/>

<cal:setGlobalData field="title">
    <f:translate key="events"/>
    <cal:format.timespanToWords end="{end}" start="{start}"/>
</cal:setGlobalData>

<h2>
    <f:translate key="events"/>
    <cal:format.timespanToWords end="{end}" start="{start}"/>
</h2>

<div class="vcalendar vcalendar-day">
    <f:if condition="{events}">
        <f:then>
            <f:for each="{events}" as="event">
                <f:render partial="EventIndex/event-for-list.html" arguments="{event: event, settings:settings}"/>
            </f:for>
        </f:then>
        <f:else>
            <p><f:translate key="msg.noEvents"/></p>
        </f:else>
    </f:if>
</div>
</html>
