<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:render partial="Rss/RssLink" arguments="{_all}" />

<cal:useMicroformat format="hcalendar"/>

<div class="event-list-controls d-flex">
    <f:if condition="categories">
        <div class="dropdown">
            <a aria-expanded="false" aria-haspopup="true"
                class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                href="#" role="button" title="{f:if(condition: '{selectedCategory}', then: 'Gefiltert nach Kategorie', else: 'Nach Kategorie filtern')}">
                <f:if condition="{selectedCategory}">
                    <f:then>{selectedCategory.title}</f:then>
                    <f:else>Kategorie</f:else>
                </f:if>
            </a>
            <div class="dropdown-menu">
                <cal:link.filterCategory class="dropdown-item{f:if(condition: '!{selectedCategory}', then: ' active')}">
                    Alle
                </cal:link.filterCategory>
                <f:for each="{categories}" as="category">
                    <cal:link.filterCategory
                        category="{category}"
                        class="dropdown-item{f:if(condition: '{selectedCategory.uid}=={category.uid}', then: ' active')}{f:if(condition: category.color, then: ' has-background')}"
                        style="{f:if(condition: category.color, then: 'background-color: {category.color}')}">
                        <span>{category.title}</span>
                    </cal:link.filterCategory>
                </f:for>
            </div>
        </div>
    </f:if>
</div>

<div class="vcalendar vcalendar-list">
    <f:if condition="{events}">
        <f:then>
            <f:widget.paginate as="paginatedEvents" configuration="{maximumNumberOfLinks: 5}" objects="{events}">
                <f:for each="{paginatedEvents}" as="event">
                    <cal:calendar.onNewDay event="{event}" mode="month">
                        <cal:template.groupEnd/>
                        <f:render partial="EventIndex/MonthWrapper" arguments="{_all}"/>
                        <cal:template.groupStart class="row"/>
                    </cal:calendar.onNewDay>

                    <f:render partial="EventIndex/EventBox" arguments="{_all}"/>
                </f:for>
                <cal:template.groupEnd/>
            </f:widget.paginate>
        </f:then>
        <f:else>
            <div class="alert alert-info"><f:translate key="msg.noEvents"/></div>
        </f:else>
    </f:if>
</div>
</html>
