{namespace cal=Tx\CzSimpleCal\ViewHelpers}

<cal:useMicroformat format="hcalendar" />
<cal:setGlobalData field="title">{event.title}</cal:setGlobalData>

<f:flashMessages renderMode="div" />

<div class="vevent vcalendar-event">

	<f:render partial="EventHeader" arguments="{_all}" />

	<p class="tx-czsimplecal-event-show-date">
		<f:render partial="StartAndEndDate" arguments="{_all}" />
	</p>

	<f:render partial="CancelledWarning" arguments="{_all}" />

	<f:render partial="Categories" arguments="{_all}" />

	<cal:renderData object="{event.event}">
		<f:render partial="EventDetails" arguments="{settings: settings, event: event.event, renderData: renderData}"/>
	</cal:renderData>

	<f:if condition="{subscriptionPossible}">
		<f:render partial="EventIndex/SubscriptionForm" arguments="{_all}" />
	</f:if>

	<f:render partial="BackToListLink" arguments="{_all}" />
</div>