<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<cal:useMicroformat format="hcalendar"/>

<cal:setGlobalData field="title">{event.title}</cal:setGlobalData>

<f:flashMessages/>

<div class="row">
    <div class="col-lg-8">
        <div class="vevent vcalendar-event">
            <header>
                <h2>{event.title}</h2>
            </header>

            <f:link.action
                class="ical-download inline-text-link"
                additionalAttributes="{download: 'calendar.ics'}"
                action="show"
                format="ics"
                arguments="{event: event, content: contentObjectData.uid}"
                pageType="160">
                <f:translate key="label_ics_download"/>
            </f:link.action>

            <f:if condition="{event.event.hasMedia}">
                <f:then>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <f:render partial="Event/Images" arguments="{_all}"/>
                            <f:render partial="Event/Files" arguments="{_all}"/>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="description">
                                <f:render section="eventData" arguments="{_all}"/>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <f:render section="eventData" arguments="{_all}"/>
                </f:else>
            </f:if>
        </div>
    </div>
</div>


<f:section name="eventData">

<h4>
    <f:render partial="StartAndEndDate" arguments="{_all}"/>
    <f:if condition="{event.event.activeLocation.name}">
        <br/>{event.event.activeLocation.name}
    </f:if>
</h4>

<f:render partial="CancelledWarning" arguments="{_all}"/>

<f:render partial="Categories" arguments="{_all}"/>

<f:if condition="{event.event.eventLanguages}">
    <div class="tags">
        <f:for each="{event.event.eventLanguagesOrderedByNameLocalized}" as="language">
            <span class="badge" title="{f:translate(key: 'event_language', arguments: '{0: language.nameLocalized}')}">
                {language.nameLocalized}
            </span>
        </f:for>
    </div>
</f:if>

<f:render partial="EventDetails" arguments="{settings: settings, event: event.event}"/>

<f:if condition="{subscriptionPossible}">
    <f:render partial="EventIndex/SubscriptionForm" arguments="{_all}"/>
</f:if>

<f:render partial="BackToListLink" arguments="{_all}"/>
</f:section>

</html>
