{namespace cal=Tx\CzSimpleCal\ViewHelpers}
<cal:useMicroformat format="hcalendar" />
<cal:setGlobalData field="title">{event.title}</cal:setGlobalData>
<div class="vevent vcalendar-event">

<h2><f:render partial="EventIndex/show/startdate.html" arguments="{settings: settings, event: event}"/> <span class="summary">{event.title}</span></h2>
<f:render partial="EventIndex/show/enddate.html" arguments="{settings: settings, event: event}"/>

<f:render partial="EventDetails" arguments="{settings: settings, event: event.event, renderData: renderData}"/>

<f:link.action controller="EventIndex" action="list" addQueryString="true"><f:translate key="msg.backToList"/></f:link.action>
</div>