<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:render partial="Rss/RssLink" arguments="{_all}"/>

<cal:useMicroformat format="hcalendar"/>

<div class="{gridColumnClasses} col-card">
    <div class="vcalendar vcalendar-list slider">
        <f:if condition="{events}">
            <f:then>
                <div class="slick-slider-container">
                    <div class="card card-calendar-carousel card-carousel">
                        <div class="calendar-carousel" data-grid-width="{gridWidth}">
                            <f:for each="{events}" as="event">
                                <div class="slide vevent card">
                                    <f:render partial="EventBox/BoxContents" arguments="{_all}"/>
                                    <cal:link.eventDetails class="stretched-link" event="{event}"
                                        additionalAttributes="{aria-label: '{event.title}'}"/>
                                </div>
                            </f:for>
                        </div>
                        <div class="card-footer">
                            <f:render section="sliderLinkedLabel" arguments="{_all}"/>
                        </div>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="card card-custom">
                    <div class="display-horizontal">
                        <div class="card-body space">
                            <h5 class="card-title"><f:translate key="msg.noEvents"/></h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <f:render section="sliderLinkedLabel" arguments="{_all}"/>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</div>

<f:section name="sliderLinkedLabel">
<f:if condition="{settings.slider.link}">
    <f:then>
        <f:link.typolink parameter="{settings.slider.link}">
            <f:render section="sliderLabel" arguments="{_all}"/>
        </f:link.typolink>
    </f:then>
    <f:else>
        <f:if condition="{defaultPid}">
            <f:then>
                <f:link.page pageUid="{defaultPid}">
                    <f:render section="sliderLabel" arguments="{_all}"/>
                </f:link.page>
            </f:then>
            <f:else>
                <f:render section="sliderLabel" arguments="{_all}"/>
            </f:else>
        </f:if>
    </f:else>
    {contentObjectData.header}
</f:if>
</f:section>

<f:section name="sliderLabel">
<f:if condition="{contentElementHeader}">
    <f:then>
        {contentElementHeader}
    </f:then>
    <f:else>
        {f:translate(key: 'slider_label_default')}
    </f:else>
</f:if>
</f:section>
</html>
