{namespace cal=Tx\CzSimpleCal\ViewHelpers}

<div class="vevent tx-czsimplecal-event-list-item" id="{event.hash}">

	<h3 class="tx-czsimplecal-event-list-header summary">
		<f:link.action action="show" arguments="{event: event}" class="url" addQueryString="true">{event.title}</f:link.action>
	</h3>

	<p class="tx-czsimplecal-event-list-date">
		<cal:format.trim>
			<f:render partial="StartAndEndDate" arguments="{_all}" />
		</cal:format.trim><f:if condition="{event.activeLocation.name}">, {event.activeLocation.name}</f:if>
	</p>

	<f:render partial="Categories" arguments="{_all}" />

	<f:render partial="EventIndex/Teaser" arguments="{_all}"/>

	<div class="tx-czsimplecal-event-list-more">
		<f:link.action action="show" arguments="{event: event}" class="url" addQueryString="true">[...]</f:link.action>
	</div>
</div>