<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<div class="vevent tx-czsimplecal-event-list-item" id="{event.hash}">
    <h3 class="tx-czsimplecal-event-list-header summary">
        <f:link.action arguments="{event: event}" action="show" addQueryString="true" class="url">{event.title}</f:link.action>
    </h3>

    <p class="tx-czsimplecal-event-list-date">
        <f:spaceless>
            <f:render partial="StartAndEndDate" arguments="{_all}"/>
        </f:spaceless><f:if condition="{event.activeLocation.name}">, {event.activeLocation.name}</f:if>
    </p>

    <f:render partial="Categories" arguments="{_all}"/>

    <f:render partial="EventIndex/Teaser" arguments="{_all}"/>

    <div class="tx-czsimplecal-event-list-more">
        <f:link.action arguments="{event: event}" action="show" addQueryString="true" class="url">[...]</f:link.action>
    </div>
</div>
</html>
