<html data-namespace-typo3-fluid="true"
    xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{event.categories} || {event.event.isInternal}">
    <div class="tags event-category-container">
        <f:for each="{event.categories}" as="category">
            <f:variable name="badgeStyle">{f:if(condition: category.color, then: 'background-color: {category.color}')}</f:variable>
            <cal:link.filterCategory category="{category}" class="badge badge-lg" style="{badgeStyle}"
                title="{f:translate(key: 'category')}">
                {category.title}
            </cal:link.filterCategory>
        </f:for>
        <f:alias map="{category: event.event.category}">
            <f:if condition="{event.event.isInternal}">
                <f:variable name="badgeStyle">{f:if(condition: category.color, then: 'background-color: {category.color}')}</f:variable>
                <span class="badge badge-lg intern-event-badge" style="{badgeStyle}">
                    <i aria-hidden="true" class="far-lock-alt"></i>
                    {f:translate(key: 'event_is_internal_badge')}
                </span>
            </f:if>
        </f:alias>
    </div>
</f:if>
</html>
