<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{event.categories}">
    <div class="tags event-category-container">
        <f:for each="{event.categories}" as="category">
            <span class="badge badge-lg"
                title="{f:translate(key: 'category')}"
                style="{f:if(condition: category.color, then: 'background-color: {category.color}')}">
                {category.title}
            </span>
        </f:for>
    </div>
</f:if>
</html>
