
<div class="description">
	<f:cObject typoscriptObjectPath="plugin.tx_czsimplecal_pi1.settings.rendering.descriptionAndImages.renderObject" data="{renderData.descriptionAndImages}" />
</div>

<f:if condition="{event.files}">
	<div class="files">
		<f:cObject typoscriptObjectPath="plugin.tx_czsimplecal_pi1.settings.rendering.files.renderObject" data="{renderData.files}" />
	</div>
</f:if>

<f:if condition="{event.location}">
	<f:then>
		<p>
			<f:translate key="location" />:
			<f:render partial="Location/location-for-event-inline.html" arguments="{settings: settings, location: event.location}" />
		</p>
	</f:then>
	<f:else>
		<f:if condition="{event.locationName}">
			<p><f:translate key="location" />: {event.locationName}</p>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{event.organizer}">
	<f:then>
		<p>
			<f:translate key="organizer" />:
			<f:render partial="Organizer/organizer-for-event-inline.html" arguments="{settings: settings, organizer: event.organizer}" />
		</p>
	</f:then>
	<f:else>
		<f:if condition="{event.organizerName}">
			<p><f:translate key="organizer" />: {event.organizerName}</p>
		</f:if>
	</f:else>
</f:if>