
<div class="description">
	<f:cObject typoscriptObjectPath="plugin.tx_czsimplecal_pi1.settings.rendering.descriptionAndImages.renderObject" data="{renderData.descriptionAndImages}" />
</div>

<f:if condition="{event.files}">
	<div class="files">
		<f:cObject typoscriptObjectPath="plugin.tx_czsimplecal_pi1.settings.rendering.files.renderObject" data="{renderData.files}" />
	</div>
</f:if>

<f:if condition="{event.location}">
	<f:render partial="Location/location-for-event-inline.html" arguments="{settings: settings, location: event.location}" />
</f:if>

<f:if condition="{event.organizer}">
	<f:render partial="Organizer/organizer-for-event-inline.html" arguments="{settings: settings, organizer: event.organizer}" />
</f:if>