<html xmlns:cal="http://typo3.org/ns/Tx/CzSimpleCal/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{event.event.isInternal}">
<div class="intern-event-badge">
    <div class="badge-body"
        title="{f:translate(key: 'event_is_internal_badge')}"
        style="{f:if(condition: event.event.categoryColor, then: 'background-color: {event.event.categoryColor}')}">
        <i class="far-lock-alt"></i>
        <span class="sr-only"><f:translate key="event_is_internal_badge"/></span>
    </div>
    <div class="badge-footer"
        style="{f:if(condition: event.event.categoryColor, then: 'border-top-color: {event.event.categoryColor}')}"></div>
</div>
</f:if>

<f:render partial="EventBox/BoxImage" arguments="{_all}"/>

<div class="card-body">
    <cal:template.dateTag class="date-stamp"
        date="{event.dateTimeObjectStart}"
        style="{f:if(condition: event.event.categoryColor, then: 'background-color: {event.event.categoryColor}')}"
        type="dtstart">
        <span class="month"><f:format.date date="{event.dateTimeObjectStart}" format="%b"/></span>
        <span class="day"><f:format.date date="{event.dateTimeObjectStart}" format="d"/></span>
    </cal:template.dateTag>

    <f:if condition="{event.event.eventLanguages}">
        <div class="tags language-container">
            <f:for each="{event.event.eventLanguagesOrderedByIsoCodeA2}" as="language">
                <span class="badge" title="{f:translate(key: 'event_language', arguments: '{0: language.nameLocalized}')}">
                    {language.isoCodeA2}
                </span>
            </f:for>
        </div>
    </f:if>

    <f:if condition="{event.category}">
        <span class="category">
            {event.category.title}
        </span>
    </f:if>

    <f:render partial="EventBox/BoxHeader" arguments="{_all}"/>

    <div class="meta-info">
        <span class="time">
            <f:spaceless>
                <f:format.date date="{event.dateTimeObjectStart}" format="%A"/>,
                <f:if condition="{event.hasStartTime}">
                    <f:then>
                        <f:alias map="{timeFormat: '{f:translate(key: \'format.show.time\')}'}">
                            <f:translate key="format.show.time_label"
                                arguments="{0: '{event.dateTimeObjectStart -> f:format.date(format: timeFormat)}'}"/>
                        </f:alias>
                    </f:then>
                    <f:else><f:translate key="timespan.all_day_event"/></f:else>
                </f:if>
            </f:spaceless><f:spaceless>
                <f:if condition="{event.locationName}">
                    ,
                </f:if>
            </f:spaceless>
        </span>

        <f:if condition="{event.locationName}">
            <span class="location">{event.locationName}</span>
        </f:if>
    </div>
</div>
</html>
