{namespace cal=Tx\CzSimpleCal\ViewHelpers}
<cal:useMicroformat format="hcalendar" />
<cal:setGlobalData field="title">{event.title}</cal:setGlobalData>
<div class="vevent vcalendar-event">

<h2>{event.title}</h2>

<f:if condition="{event.isRecurrant}">
	<f:then>
		<f:if condition="{event.nextAppointments}">
			<f:then>
				<h6><f:translate key="nextAppointments" /></h6>
				<ul>
					<f:for each="{event.nextAppointments}" as="appointment">
						<li><f:render partial="EventIndex/show/startdate.html" arguments="{event:appointment, settings:settings}" /></li>
					</f:for>
				</ul>
			</f:then>
		</f:if>
	</f:then>
	<f:else>
		<p><em><f:render partial="Event/show/startdate.html" arguments="{event:event.nextAppointment, settings:settings}" /></em></p>
	</f:else>
</f:if>

<f:if condition="{event.category.showPageInstead}">
	<p class="align-right"><f:link.page pageUid="{event.category.showPageInstead}"><f:format.printf arguments="{0:event.category.title}"><f:translate key="msg.toCategory" /></f:format.printf></f:link.page></p>
</f:if>

<f:render partial="EventDetails" arguments="{settings: settings, event: event, renderData: renderData}"/>

<f:link.action controller="EventIndex" action="list"><f:translate key="msg.backToList"/></f:link.action>
</div>